.container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    margin-top: 63px;
    margin-left: 98px;
    margin-bottom: 40px;
}

.logo-link {
    color: #000000;
}

.assent-color {
    color: #4BCAFF;
}

.navigation {
    background: #35444F;
    width: 1280px;
    margin-bottom: 48px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
display: flex;

}

.menu-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.menu-item__link {
    color: #FFFFFF;
    padding: 26px 33px 19px;
}
.menu-item__link:hover{
    background: #222F3A;
}
.section-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background: rgba(0, 0, 0, 0.0001);
    min-width: 344px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #000000;
}

.sidebar-item {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}

.sidebar_link {
    padding: 26px 44px;
    display: flex;
    width: 100%;
    color: #485863;
}

.sidebar_link:hover {
    padding-left: 65px;
    background-color: #DBDBDB;
}

.image-wrapper {
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.0001);
    height: 529px;
    width: 885px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover {
    height: 100%;
    width: 100%;
    transition: 2s;
}

.container-content {
    width: 885px;
    display: flex;
    flex-direction: column;
}

.section-main {
    display: flex;

}

.container-content {
    display: flex;

}

.text-intro {
    margin-top: 37px;
    font-family: sans-serif;
    background: #00000000;
    color: #2C2C2C;
    margin-bottom: 54px;
}


.footer {
    margin-bottom: 30px;
    padding: 8px 40px;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: #63696E;
}

.footer-menu {
    display: flex;
}

.footer-menu__item {
    display: flex;
    font-size: 28px;
}

.footer-menu__link {
    padding: 10px;
    color: #010101;
}

.footer-menu__link:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}

.copyright {
    display: flex;
    align-items: center;
    font-size: 24px;
}